<a href="https://colab.research.google.com/github/danny980521/Algorithm-Pracice/blob/main/Greedy_Algorithm.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [20]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [16]:
#11047 동전0, 20210511
coins = []
sum = 0
n, k = map(int, input().split())
for i in range(n) : 
  a = int(input())
  coins.append(a)

for i in range(n) : 
  b = coins[-(i+1)]
  sum += k//b
  k = k%b

print(sum)

10 4200
1
5
10
50
100
500
1000
5000
10000
50000
6

In [ ]:
# 11047 1등 정답
N, K = map(int, input().split())

Coins = []
for i in range(N) : Coins.append(int(input()))


ans = 0
while K > 0 : # while을 써서 남은 돈이 0이 되면 stop
    coin = Coins.pop() # 맨 뒤에게 튀어나오는 pop을 이용
    ans += K // coin
    K %= coin

print(ans)

In [22]:
# 2875번 대회 or 인턴, 20210511
import math

n, m, k = map(int, input().split())
if n >= 2*m :
  teams = m
  k -= (n-2*m)
else :
  teams = n//2
  k -= (n%2 + m - teams)
if k > 0 : 
  teams -= math.ceil(k/3)
print(teams)

4 2 3
1

In [ ]:
# 2875번 1등 정답
#N명의 여학생과 M명의 남학생 중 인턴쉽에 참여할 K명을 빼고 대회에 나갈 팀원만 남겨야 한다.
#따라서 각 단계에서는 N과 M 중 어떤 것에서 1을 뺄 것인가를 선택한다. 
#만약 N//2가 M보다 크면 N에서 1을 빼주고, 그렇지 않으면 M에서 1을 빼는 것을 반복한다.
#K번의 반복이 종료된 후 N//2와 M 중 작은 값을 출력한다.

a, b, c = map(int, input().split(' '))
while c > 0: # c가 0이 될때까지 a나 b에서 하나씩 빼준다.
    if a // 2 >= b:
        a -= 1
    else:
        b -= 1
    c -= 1
print(min(a//2, b)) # min을 이용해 팀 개수 산출

In [7]:
# 10610 30, 20210513
n = input()
nums = []
sum = 0
answer = 0

for i in n :
  nums.append(int(i))
  sum += int(i)

nums.sort(reverse = True)

if nums[-1] != 0 :
   print(-1)
elif sum%3 != 0 :
   print(-1)
else :
  for i in nums :
    answer *= 10
    answer += i
  print(answer)

80875542
88755420

In [ ]:
# 코드에이블 정답
K = (input())
K = [int(i) for i in K] #K 내부의 단어 하나하나를 int형으로 각각 리스트의 원소로 저장. K는 list자료형이 됨.
if (sum(K) % 3) == 0 and 0 in K:
  print("".join(map(str,sorted(K,reverse=True))))
  # join: 입력된 문자열, 리스트, 튜플의 원소 사이에 특정 구분자를 포함하여 문자열로 변환하는 python의 내장 함수
else: 
  print(-1)

 # 10610 1등 정답
import sys

n = list(sys.stdin.readline().rstrip()) #sys.stdin.readline()은 여러입력값을 받을 수 있다. rstrip()은 오른쪽 공백 삭제
n.sort(reverse=True)
if n[-1] != '0' or sum(map(int, n)) % 3 != 0:
    print(-1)
else:
    print(''.join(n))

In [12]:
K = "123"
K = [i for i in K]
print(K)

['1', '2', '3']

In [17]:
#1783 병든 나이트, 20210517
#세로로는 n의 크기가 3이상이면 아무문제 없어진다.
# n = 1일때 답은 1
# n = 2일때 답은 (m+1)//2, 단 m > 7인 경우 답은 4
# n >= 3이고 m >= 7이면 답은 m-2
# n >= 3이고 4<= m < 7 이면 답은 4
# n >= 3이고 m < 4 이면 답은 m

n, m = map(int, input().split())
if n == 1:
  print(1)
elif n == 2:
  if m > 7 :
    print(4)
  else : 
    print((m+1)//2) 
else :
  if m > 6 : 
    print(m-2)
  elif m > 3 :
    print(4)
  else : 
    print(m)

20 4
4

In [ ]:
# 1783 1등 정답
n,m = map(int,input().split())
cnt = 0

if n is 1:
    cnt = 1 

elif n is 2:
    cnt = min(4,int((m+1)/2))

elif m < 7:
    cnt = min(m,4)
    
else:
    cnt = 5 + m - 7

print(cnt)
# 크게 배울 점은 없어보인다. min을 이용해 if문 개수를 줄인 정도?

In [25]:
# 11399 ATM, 20210517
import sys

n = int(input())
time = list(map(int, input().split()))
time.sort(reverse=True)

sum = 0
for i in range(n):
  sum += time[i]*(i+1)
print(sum)

#28776kb, 72ms

5
3 1 4 3 2
32

In [ ]:
# 11399 1등 정답
a = int(input())
l = []
total = 0
cur = 0
l = list(map(int, input().split()))

l.sort()
for x in l: #바로 리스트 내부 원소를 훑었다.
    cur += x
    total += cur
print(total)

In [49]:
#1541 잃어버린 괄호, 20210517
import re

front,rear = map(str, input().split('-', maxsplit = 1))
front = list(map(int, front.split('+')))
rear = list(map(int, re.split('[+-]', rear))) #"+|-"로도 중복 분할 가능
total = 0
for i in front :
  total += i
for i in rear :
  total -= i
print(total)

55-50+40
-35