<a href="https://colab.research.google.com/github/danny980521/Algorithm-Pracice/blob/main/Math.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#프로그래머스 약수의 개수와 덧셈, 20210607
def solution(left, right):
    for i in range(1, 33) :
        if i**2 >= left :
            start = i
            break
    for i in range(start, 34) :
        if i**2 > right :
            end = i
            break
    answer = (left + right)*(right-left+1)/2 - 2*(sum(i**2 for i in range(start, end)))
    return answer

In [ ]:
#프로그래머스 약수의 개수와 덧셈 우수풀이, 내 풀이는 최대 34번 반복문을 도는데 이건 최대 1000번 돈다.
def solution(left, right):
    answer = 0
    for i in range(left,right+1):
        if int(i**0.5)==i**0.5:
            answer -= i
        else:
            answer += i
    return answer

In [ ]:
#프로그래머스 행렬의 곱셈, 20210613
def solution(arr1, arr2):
    answer = []
    for i in range(len(arr1)) :
        arr3 = []
        for j in range(len(arr2[0])):
            a = 0
            for k in range(len(arr2)) :
                a += arr1[i][k] * arr2[k][j]
            arr3.append(a)    
        answer.append(arr3)  
    return answer

In [ ]:
#2740 행렬 곱셈, 20210613
arr1, arr2 = [], []
n, m = map(int, input().split())
for i in range(n) :
    arr1.append(list(map(int, input().split())))
m, k = map(int, input().split())
for i in range(m) :
    arr2.append(list(map(int, input().split())))
arr3 = solution(arr1, arr2)
for i in arr3:
  for j in i :
    print(j, end = ' ')
  print('')
#29790kb, 156ms

3 2
1 2
3 4
5 6
2 3
-1 -2 0
0 0 3
-1 -2 6
-3 -6 12
-5 -10 18

In [ ]:
#프로그래머스 행렬의 곱셈 우수풀이, zip으로 묶은거슬 풀어주는 용도로 *을 쓰는데, 이를 역이용해 행렬의 행,열 변환으로 zip(*B)를 사용. 암기하자!
def productMatrix(A, B):
    return [[sum(a*b for a, b in zip(A_row,B_col)) for B_col in zip(*B)] for A_row in A]

In [ ]:
#1259 팰린드롬수, 20210614
while 1 :
  n = input()
  if n == '0' : break
  for i in range(len(n)//2) :
    if n[i] != n[-i-1] :
      print('no')
      break
  else : print('yes')
#29200kb, 68ms

121
yes
1231
no
12421
yes
0

In [ ]:
#1978 소수 찾기
#import sys
#input = sys.stdin.readline()
n = int(input())
for i in map(int, input().split()) :
    if i == 1:
        n -= 1
        continue
    for j in range(2, int(i**.5)+1) :
        if i%j == 0:
            n -= 1
            break
print(n)
#29200kb, 68ms

4
1 3 5 7
3

In [ ]:
#2609 최대공약수와 최소공배수, 20210614
import math
a, b = map(int, input().split())
c = math.gcd(a,b)
print(c)
print(a*b//c)
#31312kb, 68ms

24 18
6
72

In [ ]:
#2609 최대공약수와 최소공배수 1등 코드, 정석 중 정석이다.
def gcd(x, y):
    if y != 0:
        return gcd(y, x%y)
    else :
        return x
def lcm(x, y):
    return (x*y)//gcd(x,y)
N, M = map(int, input().split())

print(gcd(N, M))
print(lcm(N, M))

In [ ]:
#15469 N과 M (1), 20210618
from itertools import permutations
n, m = map(int, input().split())
print('\n'.join([' '.join(map(str, i)) for i in permutations(range(1,n+1),m)]))
#32388kb, 132ms

In [ ]:
#15469 N과 M (1) 1등 코드
from itertools import permutations

N, M = map(int, input().split())
li = map(str, range(1, N+1))
print('\n'.join(map(' '.join,permutations(li, M)))) #join을 맵에 적용되는 함수로 사용

In [18]:
#15650 N과 M (2), 20210618
from itertools import combinations
n, m = map(int, input().split())
print('\n'.join(map(' '.join, combinations(map(str, range(1,n+1)),m))))

4 4
1 2 3 4

In [ ]:
#15651 N과 M (3), 20210618
from itertools import product
n, m = map(int, input().split())
print('\n'.join(map(' '.join, product(map(str, range(1,n+1)),repeat=m))))
#99200kb, 240ms

In [24]:
#15652 N과 M (4), 20210618
from itertools import combinations_with_replacement
n, m = map(int, input().split())
print('\n'.join(map(' '.join, combinations_with_replacement(map(str, range(1,n+1)),m))))
#29452kb, 68ms

3 3
1 1 1
1 1 2
1 1 3
1 2 2
1 2 3
1 3 3
2 2 2
2 2 3
2 3 3
3 3 3

In [44]:
#15654 N과 M (5), 20210618
from itertools import permutations
n, m = map(int, input().split())
print('\n'.join(map(' '.join, permutations(sorted(input().split(), key = lambda x : (len(x),x)),m))))
#34536kb, 76ms

3 1
4 4 2
2
4
4

In [40]:
#15655 N과 M (6), 20210618
from itertools import combinations
m = int(input().split()[1])
print('\n'.join(map(' '.join, combinations(sorted(input().split(), key = lambda x : (len(x),x)),m))))
#29200kb, 68ms

4 4
123 1234 12 1
1 12 123 1234

In [42]:
#15656 N과 M (7), 20210618
from itertools import product
m = int(input().split()[1])
print('\n'.join(map(' '.join, product(sorted(input().split(), key = lambda x : (len(x),x)),repeat = m))))
#136756kb, 296ms

4 2
9 8 7 1
1 1
1 7
1 8
1 9
7 1
7 7
7 8
7 9
8 1
8 7
8 8
8 9
9 1
9 7
9 8
9 9

In [43]:
#15657 N과 M (8), 20210618
from itertools import combinations_with_replacement
m = int(input().split()[1])
print('\n'.join(map(' '.join, combinations_with_replacement(sorted(input().split(), key = lambda x : (len(x),x)), m))))
#29708kb, 68ms

4 2
9 8 7 1
1 1
1 7
1 8
1 9
7 7
7 8
7 9
8 8
8 9
9 9